.bg-soymas{
  background-color: #5dfbe5;
}
#tamaño{
  font-size:4.5rem !important;
}
  

 body{
   font-family: Boogaloo;
 }

ws-button {
    position: sticky;
    bottom: 85px;
    right: 0;
    z-index: 100;
  }
  #nosotras-pag{
    background-color: #5dfbe5;
  }