.bg-soymas{
  background-color: #5dfbe5;
}
#tamaño{
  font-size:4.5rem !important;
}
  

 body{
   font-family: Boogaloo;
 }

.ws-button {
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 400;
    display: block;
  }
  footer{
    background-color: white;
    border-top: 1px solid blue;
  }
