.bg-soymas{
  background-color: #5dfbe5;
}
#tamaño{
  font-size:4.5rem !important;
}
.carousel-inner img {
  width: 100%;
  max-height: 460px;
}
.carousel-inner{
  height: 200px;
}
 body{
   font-family: Boogaloo;
 }

.ws-button {
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 400;
    display: block;
  }
  footer{
    background-color: white;
    border-top: 1px solid blue;
  }
  #nosotras-pag{
    background-color: #5dfbe5;
  }
  .imgredonda{
    width:515px;
    height:515px;
    border-radius:280px;
    margin: 10px;
  }
  .card{
    border: none;
  }